.row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 62%;
  min-width: 400px;
  margin: 0 auto;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.select {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 400px) {
  .row {
    min-width: 280px;
  }
}
