.flexRow {
  display: flex;
  justify-content: space-between;
}
.flexRow span {
  font-size: 1.2rem;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.containerFlex {
  display: flex;
  flex-direction: row;
}
.containerValue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 560px) {
  .containerFlex {
    flex-direction: column;
    justify-content: center;
    max-width: 150px;
    align-items: end;
    text-align: initial;
  }
  .containerValue {
    flex-direction: column;
    max-width: 150px;
  }
}
