:root {
  /* --main-bg-color: ; */
  --secondary-bg-color: #2b2e35;
  /* --main-text-color: ; */
  /* --main-secondary-color: ; */
  --main-bg-button-color: #233DC7;
  --color-recipe: #00c614;
  --color-expense: #ff0404;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h2 {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #22242c;
}
button {
  background-color: transparent;
  border: 0;
  color: none;
  cursor: pointer;
}

input, select, textarea, button {
  outline: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
