:root {
  /* --main-bg-color: ; */
  --secondary-bg-color: #2b2e35;
  --secondary-hover-bg-color: rgba(255, 255, 255, 0.1);
  /* --main-text-color: ; */
  /* --main-secondary-color: ; */
  --main-bg-button-color: #233dc7;
  --color-recipe: #00c614;
  --color-expense: #ff0404;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h2 {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #16110d;
}
button {
  background-color: transparent;
  border: 0;
  color: none;
  cursor: pointer;
}

input,
select,
textarea,
button {
  outline: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-recipe {
  color: var(--color-recipe);
}

.color-expense {
  color: var(--color-expense);
}

/* ANTD Style*/
/** Table Style **/

.ant-table {
  background-color: var(--secondary-bg-color) !important;
}

.ant-table-cell-row-hover {
  background-color: var(--secondary-hover-bg-color) !important;
}
.ant-table-cell {
  color: #fff !important;
}

.ant-table-thead > tr > th {
  background-color: var(--secondary-bg-color) !important;
  color: #fff !important;
  font-weight: bold !important;
}
.ant-pagination-item-active {
  background-color: #000 !important;
}
.ant-pagination-item-link {
  color: rgba(255, 255, 255, 0.5) !important;
}

/** Radio select button**/

label.ant-radio-button-wrapper {
  background-color: #000 !important;
  color: #1677ff !important;
}
